node_modules/
package-lock.json
.prettierrc
Makefile
tsconfig.json
build/
.git/
test/
lib/
*.out
*.o
.idea/
CMakeLists.txt
Debug/
compile_commands.json
.cache/
cmake-build-debug/
.clang-format
build_
debug 
run
index.ts
